In [1]:
import pandas as pd

In [2]:
csv_path = "Resources/election_data.csv"

election_df = pd.read_csv(csv_path, low_memory=False)
election_df

         Voter ID County Candidate
0        12864552  Marsh      Khan
1        17444633  Marsh    Correy
2        19330107  Marsh      Khan
3        19865775  Queen      Khan
4        11927875  Marsh      Khan
...           ...    ...       ...
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

[3521001 rows x 3 columns]

In [33]:
total_votes = election_df.Candidate.count()
unique_candidates = election_df['Candidate'].unique()
votes_byCandidate = election_df.groupby(['Candidate']).count()[['Voter ID']]
print(votes_byCandidate)

print("Election Results")
print("_____________________________________")
print(f'Total Votes: {total_votes}')
print("_____________________________________")

           Voter ID
Candidate
Correy       704200
Khan        2218231
Li           492940
O'Tooley     105630
Election Results
_____________________________________
Total Votes: 3521001
_____________________________________