In [1]:
import pandas as pd

In [2]:
csv_path = "Resources/election_data.csv"

election_df = pd.read_csv(csv_path, low_memory=False)
election_df

         Voter ID County Candidate
0        12864552  Marsh      Khan
1        17444633  Marsh    Correy
2        19330107  Marsh      Khan
3        19865775  Queen      Khan
4        11927875  Marsh      Khan
...           ...    ...       ...
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

[3521001 rows x 3 columns]

In [87]:
total_votes = election_df.Candidate.count()
#unique_candidates = sorted(election_df['Candidate'].unique())
votes_byCandidate = election_df.groupby(['Candidate']).count()[['Voter ID']].sort_values(by="Voter ID",ascending=False)
perc_votes = (votes_byCandidate / total_votes * 100).round(0)

print(unique_candidates)
print(perc_votes)
print(votes_byCandidate)
votes_byCandidate.tail().index.values[0]

['Correy', 'Khan', 'Li', "O'Tooley"]
           Voter ID
Candidate
Khan           63.0
Correy         20.0
Li             14.0
O'Tooley        3.0
           Voter ID
Candidate
Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630

'Khan'

In [79]:
print(f'Percent Votes: {perc_votes.iloc[0,0]}')

Percent Votes: 20.0

In [94]:
print("Election Results")
print("_____________________________________")
print(f'Total Votes: {total_votes}')
print("_____________________________________")
print(f'{votes_byCandidate.tail().index.values[0]}: {perc_votes.iloc[0,0]}% ({votes_byCandidate.iloc[0,0]})')
print(f'{votes_byCandidate.tail().index.values[1]}: {perc_votes.iloc[1,0]}% ({votes_byCandidate.iloc[1,0]})')
print(f'{votes_byCandidate.tail().index.values[2]}: {perc_votes.iloc[2,0]}% ({votes_byCandidate.iloc[2,0]})')
print(f'{votes_byCandidate.tail().index.values[3]}: {perc_votes.iloc[3,0]}% ({votes_byCandidate.iloc[3,0]})')
print("_____________________________________")
print(f'Winner: {votes_byCandidate.tail().index.values[0]}'')

SyntaxError: EOL while scanning string literal (<ipython-input-94-d62c3f083852>, line 10)